{% extends "datainput/header.html" %}

{% block content %}
<form class="contact-form" method="post" action="/add_data_form_submission/">
    {% csrf_token %}
  <div class="form-group">
    <label for="Motor rotations">Obroty silnika</label>
    <input name="Motor rotations" class="form-control" id="Motor rotations" aria-describedby="rotationsHelp">
    <small id="rotationsHelp" class="form-text text-muted">Jednostka to obroty na minutę.</small>
  </div>
  <div class="form-group">
    <label for="Temperature1">Temperatura 1</label>
    <input name="Temperature1" class="form-control" id="Temperature1" aria-describedby="Temperature1Help">
    <small id="Temperature1Help" class="form-text text-muted">Jednostka to stopnie Celsjusza.</small>
  </div>
  <div class="form-group">
    <label for="Temperature2">Temperatura 2</label>
    <input name="Temperature2" class="form-control" id="Temperature2" aria-describedby="Temperature2Help">
    <small id="Temperature2Help" class="form-text text-muted">Jednostka to stopnie Celsjusza.</small>
  </div>
  <div class="form-group">
    <label for="Current">Natężenie prądu</label>
    <input name="Current" class="form-control" id="Current" aria-describedby="CurrentHelp">
    <small id="CurrentHelp" class="form-text text-muted">Jednostka to ampery.</small>
  </div>
   <div class="form-group">
    <label for="Comment">Komentarz</label>
    <textarea name="Comment" class="form-control" id="Comment" rows="3" placeholder="(opcjonalnie)"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Zatwierdź</button>
</form>
{% endblock%}