{% extends "datainput/header.html" %}

{% block content %}

{% load static %}

{% if just_logged_in == 1 %}
<div class="alert alert-success" role="alert">
  <center> Zalogowano pomyślnie </center>
</div>
{% endif %}

<br>
<center>
<div class="card" style="width: 18rem;">
  <img src="{% static 'data-input.jpeg' %} " class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Wprowadzanie pomiarów</h5>
    <p class="card-text">Wybierz maszynę oraz wprowadź zmierzone wartości.</p>
    <a href="../add_data" class="btn btn-primary">Przejdź do wprowadzania pomiarów</a>
  </div>
</div>

  <br>

  <div class="card" style="width: 18rem;">
  <img src="{% static 'visual-recognition.jpeg' %} " class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Visual Recognition</h5>
    <p class="card-text">Skorzystaj z usług sztucznej inteligencji.</p>
    <a href="../visual_rec_menu" class="btn btn-primary">Przejdź do Visual Recognition</a>
  </div>
  </div>
    <br>


      {% if user.is_superuser %}

      <div class="card" style="width: 18rem;">
  <img src="{% static 'administrator.jpg' %} " class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Panel administratora</h5>
    <p class="card-text">Zarządzaj użytkownikami i rekordami bazy danych.</p>
    <a href="../admin" class="btn btn-primary">Przejdź do panelu administratora</a>
  </div>
      </div>
  </center>

      {% endif %}

{% endblock%}